include StimControl/LightStim/DT.pyd
include StimControl/LightStim/DT.c
include StimControl/LightStim/LightStim.cfg
include SpikeRecord/Plexon/_unstrobed_word.c
include SpikeRecord/Plexon/_unstrobed_word.pyd
