# Hardware configuration 
[DTBoard]
installed = False

# Viewport measurements
[Viewport_control]
width_pix = 800
height_pix = 700
width_cm = 38.6 	
height_cm = 29.0  	
distance = 57.0
#gamma = 2.46 
gamma = 1.0
index = 0 
mirrored = False
refresh_rate = 60.0
x_rectification = 0.0
y_rectification = 0.0

[Viewport_left]
width_pix = 800
height_pix = 600
width_cm = 42.6
height_cm = 32.0
distance = 57.0
#gamma = 2.46 
gamma = 1.0
index = 1
mirrored = False
refresh_rate = 120.0
x_rectification = 0.0
y_rectification = 0.0

[Viewport_right]
width_pix = 800
height_pix = 600
width_cm = 42.6
height_cm = 32.0
distance = 57.0
#gamma = 2.46 
gamma = 1.0
index = 2
mirrored = False
refresh_rate = 120.0
x_rectification = 0.0
y_rectification = 0.0
